
.custom-font {
    font-family: 'Josefin Sans', sans-serif;
  }
  .custom-card {
    text-align: -webkit-center;
  }
  .custom-avatar {
    display: contents;
  }
  .custom-img {
    max-width: 50%;
  }
  .label-padd {
    margin-top: 16px;
    margin-bottom: 0px;
    padding-right: 21px;
  
  }
  .arrow-down-icon {
    font-size: x-large;
    color: whit;
  }