ion-content {

	.custom-font {
		font-family: 'Josefin Sans', sans-serif;
	  }
    .error-message
    {
      color: red;
      font-size: 14px;
      margin-left: 10px;
      margin-top: 10px;
	}
	.btn-type {
		font-size: x-large;
	}
	// .sc-ion-input-ios-h {
	// 	--placeholder-color: initial;
	// 	--placeholder-font-style: initial;
	// 	--placeholder-font-weight: initial;
	// 	--placeholder-opacity: .5;
	// 	padding-left: 8px;
	// }
    .submit-btn {
      margin: 48px 12px 12px;
	}
  }
  .property-icon {
   
    z-index: 4;
	text-align: center;
    font-size: xxx-large;
    border: solid;
    border-width: 1px;
    border-color: currentColor;
    padding: 12px;
	border-radius: 34%;
	// background: #228b2259;
  }
  .property-item {
	display: inline-grid !important;
  }
  .property-col {
	text-align: center !important;
	
  }
 
  .label-price-a {
	  display: flow-root;
	}
	
.btn-search {
	font-size: x-large;
    font-weight: bold;
}
