<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="custom-font">UploadProperty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-font ion-padding">
  <ion-card class="custom-font custom-card">
        <ion-avatar class="custom-avatar">
          <img class="custom-img" src="assets/images/avatar.png">
        </ion-avatar>
        <ion-card-header>
          <h1 class="custom-font">Agent</h1>
          <span>agent@mail.com</span>
          <p>34859283</p>
        </ion-card-header>
  </ion-card>
  <ion-row>
    <ion-col size="6">
      <ion-button class="btn-type" color="success" expand="block" [fill]="isBuyClicked?'solid':'outline'" (click)="buyClick()" [color]="isBuyClicked?'success':'success'" >Achat</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isRentClicked?'solid':'outline'" (click)="rentClick()" [color]="isRentClicked?'success':'success'" >Location</ion-button> 
    </ion-col>
  </ion-row>
  <ion-item-divider>
  </ion-item-divider>
  <ion-row>
    <ion-col size="12">
      <h2 class="custom-font">Localisation du bien</h2>
      <ion-item>
        <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" inputmode="text" placeholder="Quartier, ville, département..." required="true"></ion-input>
        <ion-icon name="location" fill="outline" color="success" slot="end"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item-divider>
  </ion-item-divider>
<br>
<h2 class="custom-font">Type de bien</h2>
  <ion-row> 
    <ion-col size="4" class="property-col" (click)="onClickApp()">
      <ion-item class="property-item">
        <ion-icon [style.background]="isAppartClicked? '#228b2259' : ''" class="property-icon" src="assets/icon/apartment.svg"></ion-icon>
      </ion-item>
      <p>Appartement</p>
    </ion-col>
    <ion-col size="4" class="property-col" (click)="onClickHouse()">
      <ion-item class="property-item">
         <ion-icon [style.background]="isHouseClicked? '#228b2259' : ''" class="property-icon" src="assets/icon/house.svg"></ion-icon>
      </ion-item>
      <p>Maison</p>
    </ion-col>
    <ion-col size="4" class="property-col" (click)="onClickLand()">
      <ion-item class="property-item">
        <ion-icon [style.background]="isLandClicked? '#228b2259' : ''" class="property-icon" src="assets/icon/land.svg"></ion-icon>
      </ion-item>
      <p>Terrain</p>
    </ion-col>
    <ion-col size="4" class="property-col" (click)="onClickShop()">
      <ion-item class="property-item">
        <ion-icon [style.background]="isShopClicked? '#228b2259' : ''" class="property-icon" src="assets/icon/shop.svg"></ion-icon>
      </ion-item>
      <p>Boutique</p>
    </ion-col>
    <ion-col size="4" class="property-col" (click)="onClickBuilding()">
      <ion-item class="property-item">
        <ion-icon [style.background]="isBuildingClicked? '#228b2259' : ''" class="property-icon" src="assets/icon/building.svg"></ion-icon>
      </ion-item>
      <p>Immeuble</p>
    </ion-col>
    <ion-col size="4" class="property-col" (click)="onClickOffice()">
      <ion-item class="property-item">
        <ion-icon [style.background]="isOfficeClicked? '#228b2259' : ''" class="property-icon" src="assets/icon/office.svg"></ion-icon>
      </ion-item>
      <p>Bureau</p>
    </ion-col>
    <ion-col size="4" class="property-col" (click)="onClickStudio()">
      <ion-item class="property-item">
        <ion-icon [style.background]="isStudioClicked? '#228b2259' : ''" class="property-icon" src="assets/icon/studio.svg"></ion-icon>
      </ion-item>
      <p>Studio</p>
    </ion-col>
  </ion-row>
  <ion-item-divider>
  </ion-item-divider>
  <h2 class="custom-font">Budget</h2>
  <ion-row>
    <ion-col size="5">
      <ion-item>
        <ion-label class="label-price" position="floating">Prix min.</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="2">
      <ion-label  class="label-price-a" position="floating">à</ion-label>
    </ion-col>
    <ion-col size="5">
      <ion-item>
        <ion-label class="label-price" position="floating">Prix max.</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item-divider>
  </ion-item-divider>
  <h2 class="custom-font">Surface</h2>
  <ion-row>
    <ion-col size="5">
      <ion-item>
        <ion-label class="label-price" position="floating">Surface min.</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="2">
      <ion-label  class="label-price-a" position="floating">à</ion-label>
    </ion-col>
    <ion-col size="5">
      <ion-item>
        <ion-label class="label-price" position="floating">Surface max.</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item-divider>
  </ion-item-divider>
  <h2 class="custom-font">Nombre de pièces</h2>
  <ion-row>
    <ion-col size="2">
      <ion-button class="btn-type" color="success" expand="block" [fill]="isPiece1?'solid':'outline'" (click)="oneClick()" [color]="isPiece1?'success':'success'" >1</ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isPiece2?'solid':'outline'" (click)="twoClick()" [color]="isPiece2?'success':'success'" >2</ion-button> 
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isPiece3?'solid':'outline'" (click)="threeClick()" [color]="isPiece3?'success':'success'" >3</ion-button> 
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isPiece4?'solid':'outline'" (click)="fourClick()" [color]="isPiece4?'success':'success'" >4</ion-button> 
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isPiece5?'solid':'outline'" (click)="fiveClick()" [color]="isPiece5?'success':'success'" >5</ion-button> 
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isPiecePlus?'solid':'outline'" (click)="plusClick()" [color]="isPiecePlus?'success':'success'" >+</ion-button> 
    </ion-col>
  </ion-row>
  <ion-item-divider>
  </ion-item-divider>
  <h2 class="custom-font">Nombre de chambres</h2>
  <ion-row>
    <ion-col size="2">
      <ion-button class="btn-type" color="success" expand="block" [fill]="isRoom1?'solid':'outline'" (click)="oneRoom()" [color]="isRoom1?'success':'success'" >1</ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isRoom2?'solid':'outline'" (click)="twoRoom()" [color]="isRoom2?'success':'success'" >2</ion-button> 
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isRoom3?'solid':'outline'" (click)="threeRoom()" [color]="isRoom3?'success':'success'" >3</ion-button> 
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isRoom4?'solid':'outline'" (click)="fourRoom()" [color]="isRoom4?'success':'success'" >4</ion-button> 
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isRoom5?'solid':'outline'" (click)="fiveRoom()" [color]="isRoom5?'success':'success'" >5</ion-button> 
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isRoomPlus?'solid':'outline'" (click)="plusRoom()" [color]="isRoomPlus?'success':'success'" >+</ion-button> 
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer no-border>
	<ion-toolbar no-border>
    <ion-row>
      <ion-col size="12">
        <ion-button class="btn-search" color="success" expand="block" >Insérer la propriété</ion-button>
      </ion-col>
    </ion-row>
	</ion-toolbar>
</ion-footer>