<ion-grid fixed class="ion-padding">

   <ion-row style="flex-flow: column;">
      <form [formGroup]="ionicForm" (ngSubmit)="sendUpload()" novalidate>
        <ion-list>
          <ion-item lines="full">
            <ion-label position="floating">Ancien mot de passe</ion-label>
            <ion-input formControlName="currentpassword" type="number"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Nouveau mot de passe</ion-label>
            <ion-input formControlName="newpassword" type="password"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-label position="floating">Confirmer mot de passe</ion-label>
            <ion-input formControlName="newpassword_confirmation" type="password"></ion-input>
          </ion-item>
          <div class="error ion-padding"  *ngIf="errorControl.newpassword_confirmation && errorControl.newpassword_confirmation.invalid" >
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.newpassword.errors?.required">
              Nouveau mot de passe requis.
            </span>
            <span class="error ion-padding" *ngIf="isSubmitted && errorControl.newpassword.errors?.minlength">
              Le mot de passe doit comporter au minimum 6 caractéres. 
            </span>
            <span class="error ion-padding"  *ngIf="errorControl.newpassword_confirmation.errors.confirmedValidator">Les deux mots de passe sont différents.</span>
        </div>
          <ion-button class="custom-font" color="success" type="submit" [disabled]="!ionicForm.valid" expand="block">Enregister</ion-button>  
        </ion-list>
      </form>
    </ion-row>
  </ion-grid>
  