<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>details message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-row>
    <div class="container">
      <ion-item-divider class="custom-font divider-back">
        {{ "Lire des mess de l'agent " | uppercase }}
    </ion-item-divider>
        <ion-row class="row-prop">
          <ion-col size="12">    
            <p >A: {{message.name}} <{{message.email}}></p>
            <p >Numéro de téléphone: {{message.phone}}</p>
            <strong class="custom-font prop-title">
              Message:
            </strong>
            <p style="font-size: large;">{{message.message}}</p>
          </ion-col>
            <ion-col size="12">
              <ion-button color="success" class="prop-button" routerLink="/replay-message/{{message.id}}">  
                <ion-icon slot="start" name="eye-outline"></ion-icon>
                Répondre au méssage
              </ion-button>
            </ion-col>
           
        </ion-row>
    </div>
</ion-row>
</ion-content>
