.custom-font {
    font-family: 'Josefin Sans', sans-serif;
  }
  .fav-like {
   
    z-index: 4;
    position: relative;
    margin-top: -82px;
    margin-right: 10px;
    float: right;
    // background: rgb(255 255 255 / 57%);
    border-radius: 18px;
    font-size: xxx-large;
    padding: 7px;
    
  }
  .fav-unlike {
   
    z-index: 4;
    position: relative;
    margin-top: -82px;
    margin-right: 10px;
    float: right;
    background: rgb(255 255 255 / 57%);
    border-radius: 18px;
    font-size: xxx-large;
    padding: 7px;
    
  }

  // Card design 
  .property-title {
  
    font-weight: bold !important;
    font-size: x-large;
  }
  .property-type {
    font-weight: bold !important;
    font-size: large !important;
  }
  .icon-label {
    font-size: x-large;
    font-weight: bolder;
    color: forestgreen;
  }
  .property-price {
    font-size: x-large;
    font-weight: bolder;
    color: forestgreen;
  }
  .desc-location {
      font-size: 16px;
  }
  .img-prop {
    height: 240px !important;
    border-bottom-right-radius: 30px !important;
    border-bottom-left-radius: 30px;
    width: -webkit-fill-available;
  }
  .desc-icons {

    position: relative;
    float: right;
    font-size: 30px;
    // display: inline-flex !important;
    
  }
  .row-align {
    display: -webkit-box;
  }
  .col-align {
    display: -webkit-inline-box;
  }
  // fin Card design
  .ionicon {
    stroke: forestgreen !important;
    display: block;
    height: 100%;
    width: 100%;
    }   
  
  ion-content {

    ion-card-content {
      display: block;
      position: relative;
      text-align: justify;
  }
  
    .container-form-btn {
      display: flex;
      justify-content: center;
    }
  
    .form-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      min-width: 160px;
      height: 42px;
      background-color: forestgreen;
      border-radius: 5px;
      font-size: 20px;
      letter-spacing: -1px;
      color: #FFFFFF;
      padding-top: 5px;
      transition: all 0.4s;
      box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
    }
  
    .form-btn:hover {
      background-color: #28333b;
      box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.8);
    }
  
  
  }

  ion-skeleton-text {
    line-height: 13px;
    --background-rgb: 230,40,50;
    --border-radius: 20px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
  }
 