<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="custom-font">Infos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card>
    <img class="img-prop" src="assets/icon/daary_immo.png" alt="ion">
   <ion-card-content>
   
     <p style="text-align: justify; font-weight: 500;">
      Daary app est une application de location d'appartement personnalisée pour tous vos besoins. Conçue pour le chercheur d'appartements moderne, cette application de location vous aidera à trouver les meilleurs appartements ou maisons à louer.
      Trouver des appartements et des maisons à louer avec Daary app est facile. Nous vous demandons ce que vous recherchez, puis parcourez toutes les annonces d'appartements disponibles pour trouver les meilleures locations correspondant à vos besoins.
      Vous pouvez facilement parcourir les correspondances de location et créer votre courte liste d'appartements que vous aimez. Vous pouvez également réserver des visites pour voir vos meilleurs choix, contacter vos meilleurs choix et obtenir des réponses à vos questions.
      Une fois que vous avez décidé de la maison ou de l’appartement, il ne vous reste plus qu'à vous connecter et à emménager! <br>
      Caractéristiques de la liste des appartements: <br>
      ● Recherche de domicile personnalisée <br>
      - Nous vous montrons les appartements qui correspondent le mieux à vos préférences, même les endroits que vous n’avez pas pensé rechercher. <br>
      - Daary app vous montre une grande variété de maisons, de prix et d'équipements. <br>
      ● Catégories de maisons et d'appartements <br>
      - Les correspondances sont regroupées en catégories qui ont du sens afin que vous puissiez obtenir rapidement un aperçu de toutes vos options. <br>
      ● Les meilleures données sur les propriétés locatives <br>
      - Chaque appartement à louer a une tonne de photos de haute qualité, la disponibilité et les prix à jour. <br>
      - De plus, des offres spéciales et des détails qui vous intéressent, et les frais de déménagement. <br>
      - Nous garderons même une trace des mises à jour pour vous! <br>
      ● Liste restreinte des appartements <br>
      - Créez rapidement une courte liste de locations que vous aimez. <br>
      - Comparez les locations d'appartements et choisissez vos meilleurs choix. <br>
      - Accédez à votre liste de n'importe où - téléphone, ordinateur ou tablette! <br>
      - Voir tous les derniers changements de prix et les nouvelles unités, maintenant commodément en un seul endroit! <br>
      Ce dernier vous permettra de rechercher des offres en filtrant sur de nombreux critères tels que : le prix, la surface, le nombre de chambres ou de pièces, la présence d’un jardin ou encore d’une piscine. Nos annonces de location pour une maison sont actualisées plusieurs fois par jour afin de vous fournir la meilleure sélection locative du marché. Concrétisez enfin votre projet immobilier en téléchargeant l’application ! Suivez également l’actualité de Daary app sur les réseaux sociaux…
      
     </p>

   </ion-card-content>
 </ion-card>
</ion-content>
