<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet"> 

<ion-app class="custom-font">
  <!-- <app-loading-component></app-loading-component> -->
  <ion-split-pane contentId="main-content">
    <!-- <ion-menu class="custom-font" contentId="main-content" type="overlay">
      <div class="logo-section">
        <div class="logo-section__wrapper">
          <img class="logo-section__logo" src="assets/icon/daary_immo.png" />
        </div>
      </div>
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item *ngIf="isLoggedIn">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label (click)="logout()">Se déconnecter</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu> -->
    <ion-router-outlet class="custom-font" id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
<!-- <ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="app-flow">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Acceuil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search-property">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Explorer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="infos">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Infos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs> -->