<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="custom-font">Favoris</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h1 class="fav-col">Favoris</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-refresher ion-refresh-native slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="Tirer pour recharger la page"
      refreshingSpinner="crescent" refreshingText="Chargement...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="showData; else skeleton">

    <ion-grid fixed>
      <ion-row>
        <ion-col *ngFor="let favProp of data" size-lg="6" size-md="6" size-sm="6" size="12">
          <ion-card class="custom-font"  routerLink="/property-details/{{favProp.id}}">

            <img class="img-prop" src="https://daary-immo.com/storage/property/{{favProp.image}}" alt="ion">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="8" class="ion-align-self-start">
                  <ion-card-title class="property-price">{{favProp?.price}} Mru</ion-card-title>
                </ion-col>
                <ion-col size="4" class="ion-align-self-start">
                  <ion-badge color="danger" class="property-type">A {{favProp?.purpose}}</ion-badge>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-card-content>
              <span class="property-title">{{ favProp.title}}</span>
              <ion-row>
                <ion-col center text-center class="col-align">

                  <ion-icon class="desc-icons" name="bed-outline"></ion-icon>
                  <span class="icon-label ion-align-self-end">{{ favProp.bedroom}}ch.</span>

                </ion-col>
                <ion-col center text-center class="col-align">

                  <ion-icon class="desc-icons" src="assets/icon/door.svg"></ion-icon>

                  <span class="icon-label">{{ favProp.bathroom}}p.</span>
                </ion-col>
                <ion-col center text-center class="col-align">

                  <ion-icon class="desc-icons" src="assets/icon/area.svg"></ion-icon>
                  <span class="icon-label">{{ favProp.area}}</span>

                </ion-col>
              </ion-row>
              <br>
              <p class="desc-location">{{ favProp.nearby}}</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-card *ngIf="propertiesList.length === 0 || favIdList === null">
    <img src="assets/images/oops.png" alt="File not found">
  </ion-card>

  <ng-template #skeleton>
    <div *ngFor="let item of [1, 2, 3, 4, 5]">
      <ion-card class="custom-font">
        <ion-grid fixed>
          <ion-skeleton-text animated
            style="line-height: 13px; width: 100%; height: 200px;--background-rgb: 230,40,50;--border-radius: 20px;">
          </ion-skeleton-text>
          <ion-row>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-row>
        </ion-grid>
        <ion-card-content>
          <ion-row>
            <ion-col center text-center class="col-align">
              <ion-skeleton-text animated style="width: 75%;
            height: 40px;"></ion-skeleton-text>
            </ion-col>
            <ion-col center text-center class="col-align">
              <ion-skeleton-text animated style="width: 75%;
            height: 40px;"></ion-skeleton-text>
            </ion-col>
            <ion-col center text-center class="col-align">
              <ion-skeleton-text animated style="width: 75%;
            height: 40px;"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-template>
</ion-content>
