<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ma recherche</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onRefreshFilters()">
        <ion-icon color="success" name="refresh-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="custom-font ion-padding">
   <ion-row>
    <ion-col size="6">
      <ion-button class="btn-type" color="success" expand="block" [fill]="isSaleClicked?'solid':'outline'"
        (click)="saleClick()" [color]="isSaleClicked?'success':'success'">Acheter</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isRentClicked?'solid':'outline'"
        (click)="rentClick()" [color]="isRentClicked?'success':'success'">Louer</ion-button>
    </ion-col>
  </ion-row>
  <ion-item-divider>
  </ion-item-divider>
  <ion-row>
    <ion-col size="12">
      <h2 class="custom-font">Localisation</h2>
      <ion-item>
        <ion-searchbar (ionInput)="filterJsonData($event)"></ion-searchbar>
        <!-- <ion-input autocorrect="on" autofocus="on" [(ngModel)]="local" clearInput="true" clearOnEdit="true" inputmode="text" placeholder="Quartier, ville, département..." required="true"></ion-input> -->
        <ion-icon name="location" fill="outline" color="success" slot="end"></ion-icon>
      </ion-item>
      <div *ngIf="showCityBadge">
        <ion-button color="success" (click)="onRemoveLocal()">
          <ion-icon name="location" fill="outline" slot="start"></ion-icon>
          {{ local.getValue() }}
          <ion-icon name="close-outline" fill="outline" slot="end"></ion-icon>
        </ion-button>
      </div>
      <ion-list *ngIf="showCity">
        <ion-item (click)="selectVal(item.city)" *ngFor="let item of cityList">
          {{ item.city }}
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-item-divider>
  </ion-item-divider>
  <br>

  <h2 class="custom-font">Type de bien</h2>
  <ion-row>
    <ion-col size="4" class="property-col" (click)="onClickApp()">
      <ion-item class="property-item">
        <ion-icon [style.background]="isAppartClicked? '#228b2259' : ''" class="property-icon"
          src="assets/icon/apartment.svg"></ion-icon>
      </ion-item>
      <p>Appartement</p>
    </ion-col>
    <ion-col size="4" class="property-col" (click)="onClickHouse()">
      <ion-item class="property-item">
        <ion-icon [style.background]="isHouseClicked? '#228b2259' : ''" class="property-icon"
          src="assets/icon/house.svg"></ion-icon>
      </ion-item>
      <p>Maison</p>
    </ion-col>
    <ion-col size="4" class="property-col" (click)="onClickLand()">
      <ion-item class="property-item">
        <ion-icon [style.background]="isLandClicked? '#228b2259' : ''" class="property-icon" src="assets/icon/land.svg">
        </ion-icon>
      </ion-item>
      <p>Terrain</p>
    </ion-col>
    <ion-col size="4" class="property-col" (click)="onClickShop()">
      <ion-item class="property-item">
        <ion-icon [style.background]="isShopClicked? '#228b2259' : ''" class="property-icon" src="assets/icon/shop.svg">
        </ion-icon>
      </ion-item>
      <p>Boutique</p>
    </ion-col>
    <ion-col size="4" class="property-col" (click)="onClickBuilding()">
      <ion-item class="property-item">
        <ion-icon [style.background]="isBuildingClicked? '#228b2259' : ''" class="property-icon"
          src="assets/icon/building.svg"></ion-icon>
      </ion-item>
      <p>Immeuble</p>
    </ion-col>
    <ion-col size="4" class="property-col" (click)="onClickOffice()">
      <ion-item class="property-item">
        <ion-icon [style.background]="isOfficeClicked? '#228b2259' : ''" class="property-icon"
          src="assets/icon/office.svg"></ion-icon>
      </ion-item>
      <p>Bureau</p>
    </ion-col>
    <ion-col size="4" class="property-col" (click)="onClickStudio()">
      <ion-item class="property-item">
        <ion-icon [style.background]="isStudioClicked? '#228b2259' : ''" class="property-icon"
          src="assets/icon/studio.svg"></ion-icon>
      </ion-item>
      <p>Studio</p>
    </ion-col>
  </ion-row>
  <ion-item-divider>
  </ion-item-divider>
  <h2 class="custom-font">Budget</h2>
  <ion-row>
    <ion-col size="5">
      <ion-item>
        <ion-input autocorrect="on" autofocus="on" [(ngModel)]="minprice" clearInput="true" clearOnEdit="true"
          inputmode="text" placeholder="Prix min." required="true"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="2">
      <ion-label class="label-price-a" position="floating">à</ion-label>
    </ion-col>
    <ion-col size="5">
      <ion-item>
        <ion-input autocorrect="on" autofocus="on" [(ngModel)]="maxprice" clearInput="true" clearOnEdit="true"
          inputmode="text" placeholder="Prix max." required="true"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item-divider>
  </ion-item-divider>
  <h2 class="custom-font">Surface</h2>
  <ion-row>
    <ion-col size="5">
      <ion-item>
        <ion-input autocorrect="on" autofocus="on" [(ngModel)]="minarea" clearInput="true" clearOnEdit="true"
          inputmode="text" placeholder="Surf. min." required="true"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="2">
      <ion-label class="label-price-a" position="floating">à</ion-label>
    </ion-col>
    <ion-col size="5">
      <ion-item>
        <ion-input autocorrect="on" autofocus="on" [(ngModel)]="maxarea" clearInput="true" clearOnEdit="true"
          inputmode="text" placeholder="Surf. max." required="true"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-item-divider>
  </ion-item-divider>
  <h2 class="custom-font">Nombre de chambres</h2>
  <ion-row>
    <ion-col size="2">
      <ion-button class="btn-type" color="success" expand="block" [fill]="isPiece1?'solid':'outline'"
        (click)="oneClick()" [color]="isPiece1?'success':'success'">1</ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isPiece2?'solid':'outline'"
        (click)="twoClick()" [color]="isPiece2?'success':'success'">2</ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isPiece3?'solid':'outline'"
        (click)="threeClick()" [color]="isPiece3?'success':'success'">3</ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isPiece4?'solid':'outline'"
        (click)="fourClick()" [color]="isPiece4?'success':'success'">4</ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isPiece5?'solid':'outline'"
        (click)="fiveClick()" [color]="isPiece5?'success':'success'">5</ion-button>
    </ion-col>
    <ion-col style="margin-top: 4px;" size="2">
      <ion-input class="number-room" type="number" [(ngModel)]="number_bed" (ionInput)="bedroomChange($event)"
        placeholder="+"></ion-input>
    </ion-col>
  </ion-row>
  <ion-item-divider>
  </ion-item-divider>
  <h2 class="custom-font">Nombre de pièces</h2>
  <ion-row>
    <ion-col size="2">
      <ion-button class="btn-type" color="success" expand="block" [fill]="isRoom1?'solid':'outline'" (click)="oneRoom()"
        [color]="isRoom1?'success':'success'">1</ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isRoom2?'solid':'outline'" (click)="twoRoom()"
        [color]="isRoom2?'success':'success'">2</ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isRoom3?'solid':'outline'"
        (click)="threeRoom()" [color]="isRoom3?'success':'success'">3</ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isRoom4?'solid':'outline'" (click)="fourRoom()"
        [color]="isRoom4?'success':'success'">4</ion-button>
    </ion-col>
    <ion-col size="2">
      <ion-button class="btn-type" color="danger" expand="block" [fill]="isRoom5?'solid':'outline'" (click)="fiveRoom()"
        [color]="isRoom5?'success':'success'">5</ion-button>
    </ion-col>
    <ion-col style="margin-top: 4px;" size="2">
      <ion-input class="number-room" type="number" [(ngModel)]="number_bath" (ionInput)="bathroomChange($event)"
        placeholder="+"></ion-input>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer no-border>
  <ion-toolbar no-border>
    <ion-row>
      <ion-col size="12">
        <ion-button class="btn-search" color="success" expand="block" (click)="searchClick()">Lancer la recherche
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
