
.custom-font {
    font-family: 'Josefin Sans', sans-serif;
  }
  .custom-card {
    text-align: -webkit-center;
  }
  .custom-avatar {
    display: contents;
  }
  .custom-img {
    max-width: 50%;
  }
  .avatar-edit {
    max-width: 43%;
  }
  .label-padd {
    margin-top: 16px;
    margin-bottom: 0px;
    padding-right: 21px;
  
  }
  .arrow-down-icon {
    font-size: x-large;
    color: whit;
  }
  .personal-agent {
    font-size: large;
  }
  .icon-personal {
    font-size: xx-large;
  }
  .btn-type {
    font-size: x-large;
  }
  .submit-btn {
      margin: 48px 12px 12px;
  }
  .property-icon {
    z-index: 4;
    text-align: center;
    font-size: xxx-large;
    border: solid;
    border-width: 1px;
    border-color: currentColor;
    padding: 12px;
    border-radius: 34%;
  // background: #228b2259;
  }
  .property-item {
  display: inline-grid !important;
  }
  .property-col {
  text-align: center !important;
  
  }
  .prop-title {
    font-weight: bolder;
    font-size: smaller;
  }
  .prop-img {
    font-size: medium;
    height: 63px;
    width: -webkit-fill-available;
  }
  .prop-price {
    font-size: larger;
    font-weight: bolder;
  }
  
  .label-price-a {
    display: flow-root;
  }
  
  .btn-search {
  font-size: x-large;
    font-weight: bold;
  }
  .row-prop {
    border-bottom: inset;
  }
  
  .prop-button {
    width: -webkit-fill-available !important;
  }

.divider-back {
    padding: 10PX;
} 
.icon-contact {
  font-size: x-large;
  padding-right: 10px;
}
.agent-name {
    font-size: x-large;
    padding-top: 10px;
    // color: black !important;
}
.agent-email {
  font-size: large;
}
.agent-phone {
  font-size: large;
  padding-top: 10px;
}

.prop-img {
  font-size: medium;
  height: 104px;
  width: -webkit-fill-available;
}
.prop-title {
  font-size: medium;
  // color: black;
  font-weight: bolder;
}
.prop-price {
  font-size: x-large;
  // color: black;
}
.prop-city {
  font-size: medium;
}