<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet"> 
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark">ag-dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher ion-refresh-native slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
    	pullingIcon="arrow-down" 
    	pullingText="Tirer pour recharger la page" 
    	refreshingSpinner="crescent"
      	refreshingText="Chargement...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card class="custom-font custom-card" color="light">
    <ion-avatar class="custom-avatar">
      <img class="custom-img" src="assets/images/avatar.png">
    </ion-avatar>
    <ion-card-header>
      <h1 class="custom-font">Bonjour <strong>{{ currentUser.username }}</strong></h1>
      <span> {{ currentUser.email }}</span>
      <p> {{ currentUser.phone_number }}</p>
      <p> Bienvenue dans votre compte <b>{{ role | uppercase}} </b></p>
    </ion-card-header>
</ion-card>
<!-- <form #checkoutForm="ngForm"> -->
  <ion-grid>
    <!-- Espace Agent -->
    <ion-row>
      <ion-col>
        <ion-list lines="full">
          <ion-list-header color="dark" lines="full" slot="start">
            <ion-label (click)="toggleUp('personal')"
                       class="d-flex justify-content-between align-items-center label-padd"
                       data-target="#personalDetails" data-toggle="collapse">
              <h2 class="custom-font" >Espace agent</h2>
              <ion-icon (click)="toggleUp('personal')" *ngIf="!isPersonalUp"
                        class="arrow-down-icon justify-self-start"
                        data-target="#personalDetails" data-toggle="collapse"
                        name="chevron-down-outline"
                        size="medium" slot="icon-only" ></ion-icon>
              <ion-icon (click)="toggleUp('personal')" *ngIf="isPersonalUp" class="arrow-down-icon justify-self-start"
                        data-target="#personalDetails" data-toggle="collapse"
                        name="chevron-up-outline"
                        size="medium" slot="icon-only" ></ion-icon>
            </ion-label>
          </ion-list-header>
          <div class="collapse show" id="personalDetails">
            <ion-grid fixed>
              <ion-row class="row-align">
                <ion-col size="6" class="ion-align-self-start">
                  <ion-card class="custom-font custom-card" color="dark"> 
                    <ion-card-header>
                      <h1 class="custom-font personal-agent"><ion-icon class="icon-personal" name="business-outline"></ion-icon>Propriétés</h1>
                    </ion-card-header>
                    <ion-card-content>
                      <h1>{{ propertiesList.length }}</h1>
                    </ion-card-content>
                </ion-card>
                </ion-col>
                <ion-col size="6" class="ion-align-self-start">
                  <ion-card class="custom-font custom-card">
                    <ion-card-header>
                      <h1 class="custom-font personal-agent"><ion-icon class="icon-personal" name="mail-unread-outline"></ion-icon>Messages</h1>
                    </ion-card-header>
                    <ion-card-content>
                      <h1>{{ messagesList.length }}</h1>
                    </ion-card-content>
                </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
    <!-- Profile-->
    <ion-row>
      <ion-col>
        <ion-list lines="full">
          <ion-list-header color="dark" lines="full" slot="start">
            <ion-label (click)="toggleUp('profile')"
                       class="d-flex justify-content-between align-items-center label-padd"
                       data-target="#profileDetails" data-toggle="collapse">
              <h2 class="custom-font" >Profile</h2>
              <ion-icon (click)="toggleUp('upload')" *ngIf="!isProfileUp" class="jarrow-down-icon ustify-self-start"
                        data-target="#profileDetails" data-toggle="collapse"
                        name="chevron-down-outline"
                        size="medium" slot="icon-only" ></ion-icon>
              <ion-icon (click)="toggleUp('upload')" *ngIf="isProfileUp" class="arrow-down-icon justify-self-start"
                        data-target="#profileDetails" data-toggle="collapse"
                        name="chevron-up-outline"
                        size="medium" slot="icon-only" ></ion-icon>
            </ion-label>
          </ion-list-header>


          <ion-item class="collapse" id="profileDetails">
            <app-ag-update-profile (updateDataEvent)="receiveUpdatedDate($event)"></app-ag-update-profile>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
    <!-- Insérer une propriété -->
    <ion-row>
      <ion-col>
        <ion-list lines="full">
          <ion-list-header color="dark" lines="full" slot="start">
            <ion-label (click)="toggleUp('upload')"
                       class="d-flex justify-content-between align-items-center label-padd"
                       data-target="#uploadDetails" data-toggle="collapse">
              <h2 class="custom-font" >Insérer une propriété</h2>
              <ion-icon (click)="toggleUp('upload')" *ngIf="!isUploadUp" class="arrow-down-icon justify-self-start"
                        data-target="#uploadDetails" data-toggle="collapse"
                        name="chevron-down-outline"
                        size="medium" slot="icon-only" ></ion-icon>
              <ion-icon (click)="toggleUp('upload')" *ngIf="isUploadUp" class="arrow-down-icon justify-self-start"
                        data-target="#uploadDetails" data-toggle="collapse"
                        name="chevron-up-outline"
                        size="medium" slot="icon-only" ></ion-icon>
            </ion-label>
          </ion-list-header>


            <app-ag-upload  class="collapse" id="uploadDetails" (locationEvent)="receiveMessage($event)"></app-ag-upload>

        </ion-list>
      </ion-col>
    </ion-row>
    <!-- Messages-->
    <ion-row>
      <ion-col>
        <ion-list lines="full">
          <ion-list-header color="dark" lines="full" slot="start">
            <ion-label (click)="toggleUp('messages')"
                       class="d-flex justify-content-between align-items-center label-padd"
                       data-target="#messagesDetails" data-toggle="collapse">
              <h2 class="custom-font" >Messages</h2>
              <ion-icon (click)="toggleUp('messages')" *ngIf="!isMessagesUp" class="arrow-down-icon justify-self-start"
                        data-target="#messagesDetails" data-toggle="collapse"
                        name="chevron-down-outline"
                        size="medium" slot="icon-only" ></ion-icon>
              <ion-icon (click)="toggleUp('messages')" *ngIf="isMessagesUp" class="jarrow-down-icon ustify-self-start"
                        data-target="#messagesDetails" data-toggle="collapse"
                        name="chevron-up-outline"
                        size="medium" slot="icon-only" ></ion-icon>
            </ion-label>
          </ion-list-header>


          <ion-item class="collapse" id="messagesDetails">
            <div class="container">
            <ion-row class="row-prop" *ngFor="let message of messagesList , let i = index">
              <ion-col size="12">    
                <p class="custom-font prop-title"><strong>{{i + 1}}. </strong>{{message.name}} - {{message.phone}}</p>
                <span class="">{{message.message}}</span>
              </ion-col>
                <ion-col size="4">
                  <ion-button color="warning" class="prop-button" routerLink="/message-details/{{message.id}}">  
                    <ion-icon slot="start" name="eye-outline"></ion-icon>
                    Voir
                  </ion-button>
                </ion-col>
                <ion-col size="4">
                  <ion-button color="success" class="prop-button" routerLink="/message-details/{{message.id}}">
                    <ion-icon slot="start" name="create-outline"></ion-icon>
                    Repondre
                  </ion-button>
                </ion-col>
                <ion-col size="4">
                  <ion-button color="danger" class="prop-button" (click)="onCallCustomer(message.phone)">
                    <ion-icon slot="start" name="call-outline"></ion-icon>
                    Appeler
                  </ion-button>
                </ion-col>
            </ion-row>
            </div>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
    <!-- Liste des propriétés -->
    <ion-row>
      <ion-col>
        <ion-list lines="full">
          <ion-list-header color="dark" lines="full" slot="start">
            <ion-label (click)="toggleUp('propreties')"
                       class="d-flex justify-content-between align-items-center label-padd"
                       data-target="#propretiesDetails" data-toggle="collapse">
              <h2 class="custom-font" >Propriétés</h2>
              <ion-icon (click)="toggleUp('propreties')" *ngIf="!isPropretiesUp" class="arrow-down-icon justify-self-start"
                        data-target="#propretiesDetails" data-toggle="collapse"
                        name="chevron-down-outline"
                        size="medium" slot="icon-only" ></ion-icon>
              <ion-icon (click)="toggleUp('propreties')" *ngIf="isPropretiesUp" class="jarrow-down-icon ustify-self-start"
                        data-target="#propretiesDetails" data-toggle="collapse"
                        name="chevron-up-outline"
                        size="medium" slot="icon-only" ></ion-icon>
            </ion-label>
          </ion-list-header>


          <ion-item class="collapse" id="propretiesDetails">
            <div class="container">
              <ion-item-divider class="custom-font divider-back">
                {{ "Mes propriétés" | uppercase }}
            </ion-item-divider>
            <ion-row class="row-prop" *ngFor="let prop of displayedList , let i = index">
              <ion-col size="4">
                  <img class="prop-img" src="https://daary-immo.com/storage/property/{{prop.image}}">
              </ion-col>
              <ion-col size="8">    
                <p class="custom-font prop-title"><strong>{{i + 1}}. </strong>{{prop?.title}}</p>
                <span class="prop-price">{{prop.price}} - </span><span class="prop-city">{{prop.city}}</span>
              </ion-col>
                <ion-col size="4">
                  <ion-button color="warning" class="prop-button"  routerLink="/property-details/{{prop.id}}">  
                    <ion-icon slot="start" name="eye-outline"></ion-icon>
                    Voir
                  </ion-button>
                </ion-col>
                <ion-col size="4">
                  <ion-button color="tertiary" class="prop-button"  routerLink="/update-property/{{prop.id}}">
                    <ion-icon slot="start" name="create-outline"></ion-icon>
                    Modifier
                  </ion-button>
                </ion-col>
                <ion-col size="4">
                  <ion-button color="danger" class="prop-button" (click)="deleteAlertConfirm(prop.id)">
                    <ion-icon slot="start" name="trash-outline"></ion-icon>
                    Retirer
                  </ion-button>
                </ion-col>
            </ion-row>
            <ion-infinite-scroll threshold="150px" (ionInfinite)="loadMorePosts($event)">
              <ion-infinite-scroll-content
                loadingSpinner="crescent"
                loadingText="Chargement...">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
            </div>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
    <!-- Changer de mot de passe -->
    <ion-row>
      <ion-col>
        <ion-list lines="full">
          <ion-list-header color="dark" lines="full" slot="start">
            <ion-label (click)="toggleUp('edit_password')"
                       class="d-flex justify-content-between align-items-center label-padd"
                       data-target="#passwordDetails" data-toggle="collapse">
              <h2 class="custom-font" >Modifier mot de passe</h2>
              <ion-icon (click)="toggleUp('edit_password')" *ngIf="!isPasswordUp" class="arrow-down-icon justify-self-start"
                        data-target="#passwordDetails" data-toggle="collapse"
                        name="chevron-down-outline"
                        size="medium" slot="icon-only" ></ion-icon>
              <ion-icon (click)="toggleUp('edit_password')" *ngIf="isPasswordUp" class="jarrow-down-icon ustify-self-start"
                        data-target="#passwordDetails" data-toggle="collapse"
                        name="chevron-up-outline"
                        size="medium" slot="icon-only" ></ion-icon>
            </ion-label>
          </ion-list-header>


          <ion-item class="collapse" id="passwordDetails">
           <app-ag-edit-password (editPasswordEvent)="receiveDataEditPassword($event)"></app-ag-edit-password>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
<!-- </form> -->
<ion-list>
  <ion-item (click)="logout()">
    <ion-icon slot="start" name="log-out"></ion-icon>
    <ion-label>
      Se déconnecter
    </ion-label>
  </ion-item>
</ion-list>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button class="fab" (click)="ScrollToTop()">
     <!-- Advanced: explicity set the icon for each platform -->
     <ion-icon name="chevron-up-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
