  
  .custom-font {
    font-family: 'Josefin Sans', sans-serif;
  }
  .row-agent {
    justify-content: center;
    border-bottom: solid 1px;
  }
  .agent-img {
    font-size: medium;
    height: 104px;
    width: -webkit-fill-available;
  }
  .agent-title {
    padding-top: 10px;
    font-size: x-large;
    // color: black;
  }
  .agent-price {
    font-size: medium;
  }
  